.box-home{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    list-style: none;
}

.box-home li{
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    border-radius: 5px;
    padding: 13px;
}

.box-home img{
    max-width: 300px;
    max-height: 240px;
    border-radius: 5px;
}

.box-home strong{
    font-size: 16px;
    line-height: 20px;
    color: #242424;
    margin-top: 10px;
}

.box-home button{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    background-color: #242424;
    border: 0;
    border-radius: 5px;
    transition: all 0.3s;
}

.box-home button:hover{
    cursor: pointer;
    background-color: #646464

}

.box-home div{
    display: flex;
    align-items: center;
    padding: 10px;
}